table{
    margin: auto;
    text-align: center;
}

.capture img{
    width: 500px;
    height: 200px;
}

.capture23 img{
    height: 150px;
    width: 200px;
    padding: 5px;
}
.firstext h2{
    position: relative;
    right: 106px;
    bottom: 25px;
}

.firstext p{
    font-size: 12px;
    position: relative;
    right: 106px;
    bottom: 25px;

}
.secondtext h2{
    position: relative;
    right: 225px;
    bottom: 25px;


}
.secondtext p{
    font-size: 12px;
    position: relative;
    right: 225px;
    bottom: 25px;
}
.ancre a{
    margin: 8px;
    padding: 5px 15px;
    border-radius: 15px;
    background: #FD9985;
    color: white;
    text-decoration: none;
    font-size: 20px;
    
}
.ancre a:hover{
box-shadow: none;
transition-duration: 0.5s;
text-shadow: 1px 5px 10px grey;
}
.Shop1{
    position: relative;
    right: 110px;
    bottom: 15px;
}

.Shop2{
    position: relative;
    right: 230px;
    bottom: 15px;
}
.capture5 img{
    width: 405px;
    height: 200px;
}

.lien{
    color: #FD9985;
    text-decoration: none;
}
.lien a{
    color: #FD9985;
    text-decoration: none;
}
